.sidebox .sidebox-title {
  font-family:IRANSans;
}
.hit-the-floor {
  font-family:IRANSans;
}
.sidebox-content ul li a {
  font-family:IRANSans;
}
.sidebox-content.categories ul li h3 {
  font-family:IRANSans;
}
.sidebox.blank .sidebox-content h4 {
  font-family:IRANSans;
}
.block-content .messages .messages-content h2 {
  font-family:IRANSans;
}
.button {
  font-family:IRANSans!important;
}
input#bComSub {
  font-family:IRANSans;
}
