@media only screen and (max-width: 1335px) {
    .club-content {
        width: inherit;
    }

    ul.club {
        width: 50%;
    }

    .block-side-right, .block-side-left {
        display: none;
    }

    .main-menu-wrp {
        display: block;
    }
	.mobile-comment{
visibility: hidden;
}
}
@media only screen and (max-width: 1900px) {
.mobile-comment{
visibility: hidden;
}


}
@media only screen and (max-width: 1015px) {
    .content-wrp {
        width: 900px;
    }

    .header-wrp {
        width: 900px;
    }

    .footer-wrp {
        width: 900px;
    }

    .block-content {
        width: 605px;
    }
	.header{
		position:inherit;
	}
	.mini-icons{
visibility: hidden;
}
	.comment-add-form{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
	.telegram-support{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.mobile-comment{
visibility: visible;
}
	.telegram{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
	.author-detalis{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.one-number{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}

}

@media only screen and (max-width: 915px) {
    .content-wrp {
        width: 800px;
    }

    .header-wrp {
        width: 800px;
    }

    .footer-wrp {
        width: 800px;
    }

    .block-content {
        width: 505px;
    }
.header{
	position:inherit;	
	}
	.mini-icons{
visibility: hidden;
}
	.comment-add-form{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.mobile-comment{
visibility: visible;
}
	.telegram{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
	.author-detalis{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.one-number{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.telegram-support{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
}

@media only screen and (max-width: 820px) {
    .content-wrp {
        width: 690px;
    }

    .header-wrp {
        width: 690px;
    }

    .footer-wrp {
        width: 690px;
    }

    .block-content {
        width: 395px;
    }
	.header{
	position:inherit;	
	}
	.mini-icons{
visibility: hidden;
}
	.comment-add-form{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.mobile-comment{
visibility: visible;
}
	.telegram{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
	.author-detalis{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.one-number{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.telegram-support{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
}

@media only screen and (max-width: 700px) {
    .content-wrp {
        width: 600px;
    }

    .header {
        height: 90px;
		position:inherit;
    }

    .header-wrp {
        width: 600px;
    }

    .footer-wrp {
        width: 600px;
    }

    .block-content {
        width: 385px;
    }

    .block-sidebar {
        width: 200px;
    }

    .main-menu.resp {
        margin: 20px 0 15px;
        display: block;
    }

    .main-menu-wrp {
        margin: 130px auto 0;
    }

    .header .header-right {
        position: relative;
        right: inherit;
        text-align: center;
    }

    .header .header-left {
        position: inherit;
        text-align: center;
    }

    .content-wrp {
        margin-top: 0;
    }
	
	.telegram{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}	
	
.mini-icons{
visibility: hidden;
}
	.comment-add-form{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.mobile-comment{
visibility: visible;
}
	.author-detalis{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.one-number{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.telegram-support{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
}

@media only screen and (max-width: 650px) {
	.header{
	position:inherit;	
	}
    .content-wrp {
        width: 550px;
    }

    .header-wrp {
        width: 550px;
    }

    .footer-wrp {
        width: 550px;
    }

    .block-content {
        width: 345px;
    }

    .block-sidebar {
        width: 190px;
    }
	.mini-icons{
visibility: hidden;
}
	.comment-add-form{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.mobile-comment{
visibility: visible;
}
	.telegram{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
	.author-detalis{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.one-number{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.telegram-support{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
}

@media only screen and (max-width: 600px) {
.header{
	position:inherit;	
	}
	.comment-add-form{
		position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
	}
	.author-detalis{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.one-number{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.telegram-support{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
}

@media only screen and (max-width: 550px) {
    .content-wrp {
        width: inherit;
        margin: 15px;
    }

    .header-wrp {
        width: inherit;
        margin: 0 15px;
    }

    .footer-wrp {
        width: inherit;
        margin: 0 15px;
    }

    .block-sidebar {
        margin-top: 15px;
        width: 100%;
    }

    .block-content {
        width: 100%;
    }
	.header{
	position:inherit;	
	}
.mini-icons{
visibility: hidden;
}
	.comment-add-form{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.mobile-comment{
visibility: visible;
}
	.telegram{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
	.author-detalis{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.one-number{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
.telegram-support{
position:absolute;
    left:-9999px;
    top:auto;
    width:5px;
    height:5px;
    overflow:hidden;
}
}
