@charset "utf-8";

@font-face {
     font-family: 'BYekan';
     src: url('http://up.ghalebgraph.ir/up/galebgraph/webfile/web/theme/04/fonts/BYekan.eot');
     src: url('http://up.ghalebgraph.ir/up/galebgraph/webfile/web/theme/04/fonts/BYekan.otf') format('opentype');
     src: local('āŗ'),
     local('B Yekan'),
     url('http://up.ghalebgraph.ir/up/galebgraph/webfile/web/theme/04/fonts/BYekan.woff') format('woff'),
     url('http://up.ghalebgraph.ir/up/galebgraph/webfile/web/theme/04/fonts/BYekan.ttf') format('truetype'),
     url('http://up.ghalebgraph.ir/up/galebgraph/webfile/web/theme/04/fonts/BYekan.svg') format('svg');
font-weight: normal;
font-style: normal;
}


}
.menu {
    width: 250px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}



/* menu right click */#menu {background-color: #fff;border-color: #74abdb;border-left: 4px solid #74abdb;border-radius: 2px;border-right: 4px solid #74abdb;border-style: solid;border-width: 1px 4px;box-shadow: 20px 20px 20px #979797;direction: rtl;display: none;font: 11px tahoma;padding: 5px;position: absolute;width: 150px;z-index: 2147483647;}#menu a{border: 1px solid transparent;border-radius: 3px;color: #000;display: block;font: 11px tahoma;padding: 3px;text-decoration: none;}#menu a:hover{background-color: #c8e4ff;border-radius: 2px;}#menu hr{border-top:1px #74ABDB solid;border-bottom:1px #fff solid;border-left:none;border-right:none;margin:3px 0 3px 0;padding:0;}#menu span{border: 1px solid transparent;border-radius: 3px;color: #000;display: block;font: 10px tahoma;padding: 3px;text-align: center;text-decoration: none;}


*{
    font-family:b yekan;
}


.text{
    position:fixed;
}
.header{
    font-size: 45px;
    text-align: center
    
}
header + nav{
    font-family: b yekan;
    
}
.container{
  display: flex;
    justify-content:space-between;
     flex-grow:1;
   
}
footer{
    font-family:iransans;
    background-color: aqua;
    color: white;
    font-size: 15px;
    text-align: center;
    height: 30px;
}
body{
    font-family: b yekan;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 250%;
    background:aqua url(backsground-meno.jpg)repeat fixed 0% 0%;
    
}
h1{
    margin: 0px;
}
.sidebar{
    background-color:aquamarine;
    display: flex;
    flex-direction:column;
    padding: 3px;
    font-size: 13px;
    width: 100px;
     flex-grow:0.5;
}
header{
    background-color:cadetblue;
    color: white;
    padding:0 6px;
    font-family:iransans ;
    font-size: 60px;
}
.menu{
    background-color: deeppink;
    padding: 4px;
    font-size: 13px;
}
.section{
    
    padding: 4px; 
    flex-grow:1;
    
}
.menu-button{
   background-color:darkmagenta;
    padding: 4px;
    display: inline-block;
    border-radius: 300px;
    color: aqua;
}
html{
    height: 100%;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: greenyellow;
}
a:active{
    color: darkturquoise;
}
.sidebar-button{
    border-radius:5px;
    background-color:coral;
    font-size: 15px;
    font-family: b yekan;
    margin: 5px;
    
        
}
